.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 90%;
  max-width: 480px;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.input,
.textarea,
.select {
  margin-top: 4px;
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  outline: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  /* background: linear-gradient(135deg, #75b6fb, #fff); */
}

.input:focus,
.textarea:focus,
.select:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.2);
}

.textarea {
  min-height: 80px;
  resize: vertical;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 8px;
}

.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.submitButton:hover {
  background: #2563eb;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(10, 102, 194, 0.4);
  color: #fff;
}

.submitButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.cancelButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f8f9fa;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  border-radius: 9999px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.cancelButton:hover {
  background-color: #ffffff;
  transform: scale(1.05);
  color: #dc3545;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

.select {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.select option {
  padding: 6px;
}

/* Кольори для кожного тегу */
.tag_todo {
  background: #75b6fb;

  color: #00ffff;
}

.tag_work {
  background: #75b6fb;

  color: #ff0000;
}

.tag_personal {
  background: #75b6fb;

  color: #00ff2f;
}

.tag_meeting {
  background: #75b6fb;
  color: #ffee00;
}

.tag_shopping {
  background: #75b6fb;

  color: #d100ed;
}
